@model IEnumerable <CasaDaVideira.Model.Database.Model.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Cadastro", "CreateUser", "Usuario")
    @Html.ActionLink("Cadastrar Produto", "CreateProduto", "Produto")
</p>

